html,
body {
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
}

.content {
  width: 100%;
  padding-top: 4rem;
}

header img {
  margin: auto 0;
  display: flex;
  align-items: center;
  width: 3rem;
}

header  {
  height: 5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

nav {
  color: black;
}

nav li {
  display: inline-flex;
  align-items: center;
  color: #403F3F;
  margin: auto 1.5rem;
}

nav li:hover {
  color: darkred;
  transition: all 0.1s linear;
  cursor: pointer;
}



.logo-title {
  margin-left: 1rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto 1.5rem;
}

.logo-title:hover {
  cursor: pointer;
}

.header-title {
  font-size: 2rem;
}

#first-word {
  font-weight: 600;
  color: #403F3F;
}

#second-word {
  font-weight: 395;
  color: #d8d8d8;
}

.main-container {
  background-color: #d8d8d8;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}

.img-container {
  margin: 4rem 3rem;
  width: 60%;
}

.main-container img{
  width: 55rem;
}

.jumotron {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  align-items: center;;
  justify-content: flex-start;
}

.jumbotron div {
  padding: 2rem;
}

.big-text {
  font-size: 3rem;
  font-weight: bold;
  color: #403F3F;
  width: 26rem;
  font-family: "Noto Sans", sans-serif;
}

.smaller-text {
  font-size: 1.75rem;
  color: #403F3F;
  width: 26rem;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.start-button {
  width: 25rem;
  background-color: #403F3F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.8rem;
  color: white;
  margin-left: 2rem;
  text-decoration: none;

}

.start-button:hover {
  background-color: darkred;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

.start-button:active {
  background-color: red;
  cursor: pointer;
  text-decoration: none;
}

.group-items {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.lower-img-container {
  width: 60%;
  margin: auto 0.5rem;
  padding: 1rem;
  margin-right: 4rem;
}

.lower-img-container img {
  width: 60rem;
}

.left-group {
  display: flex;
  flex-direction: column;
  margin-left: 1.45rem;
}

.headline {
  color: #403F3F;
  font-size: 3rem;
  font-weight: 700;
  width: 55rem;
  padding: 3rem 0 3rem 1.45rem;

}

.demo-content {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.035rem;
  font-weight: 400;
  width: 60rem;
  line-height: 1.4;
  font-size: 1.1255rem;
  padding-left: 1.45rem;
}

.demo-content span {
  line-height: 1.2;
  letter-spacing: 0;
  padding-left: 0;
}

.topics {
  width: 40%;
}

.topic {
  display: flex;
  flex-direction: row;
  border-left: 5px solid #d8d8d8;
  border-top: 2.5px solid #d8d8d8;
  border-bottom: 2.5px solid #d8d8d8;
}

.topic:first-child {
  border-top: none;
}

.topic:last-child {
  border-bottom: none;
  background-color: #d8d8d8;
}

.topic-img img {
  height: auto;
  padding: 0.5rem;
}

.topic-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-content:last-child {
  line-height: 1.4;
}

.topic-content .cont {
  padding: 1rem;
}

.topic-content h1 {
  font-size: 1.9rem;
  text-align: left;
  font-weight: 600;

}

.topic-content h2 {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 300;
}

.topic-link a {
  text-decoration: none;
  color: #4a9ef4;
  text-align: left;
}

.topic-link a:hover {
  color: darkred;
  transition: all 0.1s linear;
}

.topic-link a:active {
  color: red;
}

.course-section-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  color: #403F3F;
  background-color: #d8d8d8;
  width: 100%;
  padding-top: 4rem;
}

.both-rows {
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: baseline;
  padding-top: 3rem;
  background-color: #d8d8d8;
  padding-bottom: 2rem;
}


.section-courses .content {
  width: 100%;
}

.item {
  display: inline-flex;
  margin: 1.2rem;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1rem;
}

.item-content {
  padding: 1rem;
  max-width: 70%;
  text-align: left;
}

.item-content h1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.9rem;
  font-weight: 600;
}

.item-content h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #403F3F;
}

.item-content div {
  padding-top: 1rem;
  line-height: 1.4;
  color: inherit;
}

#special {

}
